<div *ngIf="libreData">

  <div class="main-menu">
    <div
         [class]="timeStatus">{{libreData.timestamp | date : 'HH:mm'}}
    </div>
    <div>
      <mat-icon aria-hidden="false" aria-label="Insulin" style="font-size: 1.5em; padding-right: 40px" (click)="openDialogInsulin()">colorize</mat-icon>
    </div>
  </div>

  <div class="container-wrapper">

  <div class="container">
    <div class="main-item mmol" [ngClass]="status">
      {{libreData.glucoseMmol | number: '.2'}}
    </div>
    <div class="item-3-min"
          *ngIf="lastElements.length >= 3"
         [ngClass]="last5.status" >{{last5.glucoseMmol | number: '.2'}}</div>

  <div class="item-5-min" *ngIf="lastElements.length >= 6"
       [ngClass]="last10.status">{{last10.glucoseMmol | number: '.2'}}</div>

</div>
</div>
  <div class="carbs">
    <mat-icon>colorize</mat-icon>
    <span *ngFor="let insulin of lastInsulin" class="carbs">
      <span style="color: gray; font-size: x-small">{{insulin.dateTime | date: 'HH:mm d.M'}}:</span> {{insulin.quantity}} IU |
    </span>
  </div>
</div>
