@media (min-width: 500px) {
  .show-tablet {
    visibility: visible;
  }
  .mmol {
    font-size: 9em;
    font-family: Arial, 'sans-serif';
    color: antiquewhite;
  }
}
@media (max-width: 500px) {
  .show-tablet {
    visibility: hidden;
  }
  .mmol {
    font-size: 9em;
    font-family: Arial, 'sans-serif';
    color: antiquewhite;
  }
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.grid-container {
  grid-template-columns: 10px 50px 10px;
  grid-template-rows: 50px 20px;
}

.main {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.top {
  font-family: Arial, 'sans-serif';
  color: antiquewhite;
  position: fixed;
  top: 10%;
  left: 10%;
  /* bring your own prefixes */
  transform: translate(-10%, -10%);
}

.top20 {
  font-family: Arial, 'sans-serif';
  color: antiquewhite;
  position: fixed;
  top: 20%;
  left: 10%;
  /* bring your own prefixes */
  transform: translate(-20%, -10%);
}



.red {
  color: red;
}

.green {
  color: green;
}

.yellow {
  color: #ffd500;
}

.container {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px;
  grid-template-rows: 80px 20px 30px;
  grid-row-gap: 20px;
  padding-left: 20px;
}

.main-item {
  grid-row: 1;
  grid-column: 1 / span 3;
}

.item-3-min {
  grid-row:2;
  grid-column: 1 / span 1;
  font-size: 2em;
}

.item-arrows {
  grid-row: 2;
  grid-column: 3 / span 2;
  font-size: 3em;
  color: lightgray;
}

.item-5-min {
  grid-row:2;
  grid-column: 5 / span 1;
  font-size: 2em;
}

.container-wrapper {
  display: grid;
  justify-items: center;
  margin-top: 60px;
}

.menu-top {
  display: flex;
  flex-direction: row;
  color: white;
  padding-left: 1em;
  padding-top: 1em;
  font-size: 2em;
}

.carbs {
  color: white;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  color: white;
  padding-top: 10px;
  font-size: 2em;
  margin-right: 30px;
  margin-bottom: 40px;
}

.time-status-not-valid {
  color: darkgray;
  text-decoration: line-through;
}

